///////////////////////////////////////////////////////////////////////////////////////
// FILE: ObjectDeparser.rc
// Author: Gamezerve, September 2026
// Description: 
///////////////////////////////////////////////////////////////////////////////////////

#include "resource.h"
#include "afxres.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_OBJECT_DEPARSER_DIALOG DIALOGEX 0, 0, 900, 560
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
EXSTYLE WS_EX_APPWINDOW
CAPTION "Reborn Omega Object Deparser"
FONT 9, "Segoe UI"
BEGIN
LTEXT           "Search:", IDC_STATIC_SEARCH, 8, 10, 36, 10
EDITTEXT        IDC_SEARCH_EDIT, 48, 7, 520, 15, ES_AUTOHSCROLL
PUSHBUTTON      "Deparse Now", IDC_DEPARSE_NOW, 574, 6, 100, 17
PUSHBUTTON      "Transfer >>", IDC_TRANSFER, 680, 6, 90, 17
PUSHBUTTON      "Compare", IDC_COMPARE, 776, 6, 90, 17
PUSHBUTTON      "Reload INI", IDC_RELOAD_INI, 872, 6, 100, 17

LTEXT           "Objects", IDC_STATIC_OBJECTS, 8, 31, 100, 10
LTEXT           "Deparsed Object", IDC_STATIC_OUTPUT, 205, 31, 120, 10
LTEXT           "Working Copy", IDC_STATIC_WORK, 552, 31, 120, 10

LISTBOX         IDC_RESULTS_LIST, 8, 43, 187, 493, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP

CONTROL "", IDC_OUTPUT_EDIT, "RichEdit20A", ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP | WS_BORDER, 205, 43, 337, 493

CONTROL "", IDC_WORK_EDIT, "RichEdit20A", ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP | WS_BORDER, 552, 43, 338, 493

LTEXT           "0 objects", IDC_OBJECT_COUNT, 8, 543, 187, 10
CONTROL         "", IDC_RELOAD_PROGRESS, "msctls_progress32", PBS_SMOOTH | WS_BORDER, 205, 543, 500, 12
LTEXT           "Ready", IDC_RELOAD_STATUS, 715, 543, 175, 12
END
